
.bundle
coverage/*
doc/*
.DS_Store
*.gem
Gemfile.lock
.git/**
.idea/*
log/*
pkg/*
.rake_tasks~
*.rbc
rdoc
spec/reports
test/dummy/db/test.sqlite3
test/dummy/log
test/tmp
test/version_tmp
tmp
_yardoc
.yardoc
